/backend/venv/
/backend/.venv/
/backend/.env
/backend/**/__pycache__/
/backend/**/*.py[cod]
/backend/**/*.pyo
/backend/src/config/__pycache__
/backend/src/schema/__pycache__
/backend/src/routes/__pycache__
/backend/src/models/__pycache__
/backend/src/config/*.pyc
/backend/src/schema/*.pyc
/backend/src/routes/*.pyc
/backend/src/models/*.pyc

/backend/test.rest