MONGODB_USERNAME=<username>
MONGODB_PASSWORD=<password>
MONGODB_CLUSTER=<cluster-url>
MONGODB_APP_NAME=doa-net
MONGODB_DB_NAME=doa_net_db

obs) rodar backend: poetry run uvicorn main:app --reload --host 127.0.0.1 --port 8000